<div class="container d-flex flex-wrap justify-content-center">
  <h1 class="mt-5">Explore delicious and nutritious recipes</h1>
  <p>Search trusted nutritional database for detailed food info. Find calories, macros, vitamins, and more! Make informed choices for a healthier you.</p>
  <div class="d-flex flex-nowrap">
    <input type="text" class="form-control search-box" placeholder="Search Foods ...">
    <button type="submit" class="btn btn-primary search-btn" id="searchBtn">Submit</button>
  </div>
</div>

  <!-- JQuery 3.x -->
  <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
  <!-- Bootsrap 5 JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- script.js -->
  <script src="/assets/script.js"></script>

          