body {
    background: url('./images/shutterstock_568543210.png');
}

:root {
    --primary-green: #75ba75;
    --primary-brown: #8a7355;
    
}

.navbar {
    background-color: #75ba75;
    font-family: 'Pridi',serif;
    font-size: 24px;
}

.navbar-brand {
    font-size: 48px;
    margin-left: 80px;
}


.landing-background-image {
    background: url('./images/shutterstock_568543210.png');
    background-blend-mode: normal;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search {
    margin-top: 30px;
}

.card {
    margin: 12px;
}

.recipebox-title {
    background-color: gray;
    border-radius: 12px;
}

.footer{
    background-color: #75ba75;
    font-family: 'Pridi', serif;
    font-size: 22px;
    color: white;
}
