.background-image {
    background: url('./images/shutterstock_568543210.png');
}

.background-blur-image {
    background: url('./images/shutterstock_568543210.png');
    backdrop-filter: blur(3px);
}

:root {
    --primary-green: #75ba75;
    --primary-brown: #8a7355;
    --dark-green: #4c8e4c;
    --dark-brown: #604d3b;
}

.navbar {
    background-color: #75ba75;
    font-family: 'Pridi',serif;
    font-size: 24px;
}

.navbar-brand {
    font-size: 48px;
    margin-left: 80px;
}


.landing-background-image {
    background: url('./images/shutterstock_568543210.png');
    background-blend-mode: normal;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-green {
    background-color: var(--primary-green);
    border: none;
}

.btn-green:hover {
    background-color: var(--dark-green);
}

.search {
    margin-top: 30px;
}

.blur-border {
    border-bottom: 4px solid var(--primary-green);
    box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.4);
}

.search-btn {
    background-color: var(--primary-green);
    border: none;
}

.search-btn:hover {
    background-color: var(--primary-brown);
}

.search-btn:focus {
    border-color: green;
    box-shadow: 0 0 0 0.25rem rgba(0, 128, 0, 0.25);
}

.form-control:focus {
    border-color: green;
    box-shadow: 0 0 0 0.25rem rgba(0, 128, 0, 0.25);
}

.card {
    margin: 12px;
    box-shadow: 1px 4px 14px -8px rgba(0,0,0,0.6);
    -webkit-box-shadow: 1px 4px 14px -8px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 4px 14px -8px rgba(0,0,0,0.6);
}

.card-text {
    font-size: 14px;
    margin: 2px;
}

.food-pic {
    border-radius: 2px;
}

.food-pic:hover {
    filter: brightness(0.7);
}

.health-labels {
    font-size: 12px;
    list-style-type: square;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.information-container {
    font-size: 12px;
    list-style-type: square;
    background-color: #f0f0f0;
    border-radius: 8px;
}

#nutrition-container {
    display: none;
}

#ingredients-container {
    display: none;
}

.btn-add-recipe {
    background-color: var(--primary-brown);
    border: none;
}

.btn-add-recipe:hover {
    background-color: var(--dark-brown);
}

.health-labels li {
    color: black;
}

.recipebox-title {
    background-color: gray;
    border-radius: 12px;
}

.footer {
    background-color: #75ba75;
    font-family: 'Pridi', serif;
    font-size: 22px;
    color: white;
}

.content-wrapper {
    min-height: calc(100vh - 88px); /* Adjust the value based on your footer's height */
    padding-bottom: 88px; /* Adjust the value to match the footer's height */
    box-sizing: border-box;
}

.footer-search {
    background-color: #75ba75;
    font-family: 'Pridi', serif;
    font-size: 22px;
    color: white;
    position: relative;
}